div(class='#{prefix}footer-clear')
footer(class='#{prefix}footer navbar navbar-default')
  div
    div(class='col-xs-4 footer-block' id='footer-left')
      div
        span(class='follow') Follow Us
      div
        span(class='square-cont')
          a(href='//www.facebook.com/heartgov')
            img(src='#{escapedDir}min/images/socialsq_fb.png' class='social-square fb')
        span(class='square-cont')
          a(href='//twitter.com/heartgov')
            img(src='#{escapedDir}min/images/socialsq_tw.png' class='social-square')
        span(class='square-cont')
          a(href='/')
            img(src='#{escapedDir}min/images/socialsq_vm.png' class='social-square')

    div(class='col-xs-4 footer-block')
      div
        a(href='/')
          img(src='#{escapedDir}min/images/smalllogo.png' class='footer-logo')
      div(style='padding-top:19px;')
        span(class='copy')

    div(class='col-xs-4 footer-block' id='footer-right')
      div(style='padding-bottom:15px;')
        label Contact Us:
        span
          a(href='mailto:heartgov@gmail.com') heartgov@gmail.com
      div
        label Want to contribute?
        span Our code is publicly available on 
          a(href='//github.com/bencripps/heartgov') github
