extend ./layout

block content

    div(class='#{prefix}hero-image' id='signup-hero' style='height:100%;')
        img(src='min/images/signupform-background.jpg' style='visibility:hidden; width:100%; max-height:1280px;')
        table(style='bottom:10')
            tr 
                td
                    h2 Gain access to our database.

            tr
                td
                    h1(style='font-weight:lighter;') See what people are saying in your neighborhood

            tr 
                td 
                    form(name='userSignup')

                        div
                            div(class='form-group') 
                                div(class='input-group #{prefix}form-group')
                                    div(class='input-group-addon #{prefix}form-label') username
                                    input(type='text' name='username' class='form-control input-sm')
                                span(class='help-block #{prefix}help-block') this field is required!
                        
                        div
                            div(class='form-group') 
                                div(class='input-group #{prefix}form-group')
                                    div(class='input-group-addon #{prefix}form-label') password
                                    input(type='password' name='password' class='form-control input-sm')
                                span(class='help-block #{prefix}help-block') this field is required!
                        div
                            div(class='form-group') 
                                div(class='input-group #{prefix}form-group')
                                    div(class='input-group-addon #{prefix}form-label') first name
                                    input(type='text' name='firstName' class='form-control input-sm')
                                span(class='help-block #{prefix}help-block') this field is required!
                        div
                            div(class='form-group') 
                                div(class='input-group #{prefix}form-group')
                                    div(class='input-group-addon #{prefix}form-label') last name
                                    input(type='text' name='lastName' class='form-control input-sm')
                                span(class='help-block #{prefix}help-block') this field is required!

                        div
                            div(class='form-group') 
                                div(class='input-group #{prefix}form-group')
                                    div(class='input-group-addon #{prefix}form-label') email address
                                    input(type='text' name='emailAddress' class='form-control input-sm')
                                span(class='help-block #{prefix}help-block') please provide a valid email address!
                        div
                            div(class='form-group') 
                                div(class='input-group #{prefix}form-group')
                                    div(class='input-group-addon #{prefix}form-label') phone number
                                    input(type='text' name='phoneNumber' class='form-control input-sm')
                                span(class='help-block #{prefix}help-block') please provide a valid phonenumber (ex. 5551235678)!
                        
                        div
                            div(class='form-group') 
                                div(class='input-group #{prefix}form-group')
                                    div(class='input-group-addon #{prefix}form-label') city
                                    select(name='city' class='form-control input-sm')
                                        - each city in cities
                                            option(value="#{city.id}") #{city.name}

                        div
                            div(class='form-group') 
                                div(class='input-group #{prefix}form-group')
                                    div(class='input-group-addon #{prefix}form-label') signup password
                                    input(type='text' name='signupPassword' class='form-control input-sm')               
                                span(class='help-block #{prefix}help-block') this field is required! 
                        div
                            div(class='input-group #{prefix}form-group')
                                div(class='form-group' style='text-align:left;')
                                    button(class='btn btn-md btn-success' id='signupbutton') signup   

