extend ./layout

block content

    include ./components/preloader.jade

    div(class='#{prefix}hero-image' id='main-hero')
        img(src='min/images/homepage-hero.jpg' style='visibility:hidden; width:100%; max-height:1280px;')
        table
            tr
                td
                    h1(style='font-weight:lighter;') Keeping people enganged in the civic process
            tr 
                td
                    h2 Connect to your government.

            tr 
                td 
                    a(href='/about')
                        button(class='btn btn-primary #{prefix}primary-button') Learn how

    div(id='middle' class='row')
        div(class='col-xs-5 iphone-cont')
            img(src='min/images/iphone.png' id='iphone')

        div(class='col-xs-7 details')
            h3(style='font-weight:bold;') Welcome & thank you for using heartgov
            h4 HeartGov is a text message based platform designed to better connect and create a two-way communication between local government, community based organizations, and residents.  HeartGov provides the space for conversation and collaboration between communities and government on an accessible platform.  Share your ideas, let's start a conversation!
            
    div(id='next-middle')
        div
            h4 With <3 we hope to allow a space for community members to voice their ideas, create relationships with government agents, and create a means to create and promote small wins. 
    div(class='angle-left')
        div

    div(id='neighbors')
        h3 What your neighbors are talking about
        
    //- figure out how to selectively iterate 
    //- - each text, index in results
    //-     -var className = index % 2 == 0 ? 'convoboxes' : 'empty'
    //-     div(class='#{className}')
    //-         div
    //-             span
    //-                 h3 #{text.textInformation.body}
    //-                 h5(class='tel') #{text.textInformation.date}
 

    div(class='convoboxes')
        div
            span
                h3 #{results[0].textInformation.body}
                h5(class='tel') #{results[0].textInformation.date}

        div
            span
                h3 #{results[1].textInformation.body}
                h5(class='tel') #{results[1].textInformation.date}

    div(class='convoboxes')
        div
            span
                h3 #{results[2].textInformation.body}
                h5(class='tel') #{results[2].textInformation.date}
        div
            span
                h3 #{results[3].textInformation.body}
                h5(class='tel') #{results[3].textInformation.date}

    div
        h3(style='font-size:2.5vw; font-weight:lighter;') Would you like to have access to our database?

    div
        a(href='/signup')
            button(class='btn btn-primary #{prefix}primary-button') Sign up
           
