doctype
html
  head
    title #{title}
    link(rel='stylesheet' href='vendor/css/bootstrap.min.css')
    link(rel='stylesheet' href='vendor/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='min/styles/main.css')
    script(src='vendor/js/require.min.js')
    script(src='dev/scripts/common.js')
    - each s in scripts
      script(src=s)
  body

    span(id='#{prefix}user-information') #{currentUser}

    include ./templates/text-reply-modal.jade

    include ./templates/pageheader.jade

    include ./templates/modal.jade

    include ./templates/group-modal.jade

    div(class="#{prefix}container" style='min-height:470px;')

        block content
          
    include ./templates/footer.jade

    