doctype
html
  head
    title #{title}
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='#{escapedDir}vendor/css/bootstrap.min.css')
    link(rel='stylesheet', href='#{escapedDir}min/styles/main.css')
    script(type='text/javascript')
        | var path = "#{escapedDir}#{local}";
    script(src='#{escapedDir}vendor/js/require.min.js')
    script(src= '#{escapedDir}#{local}/scripts/common.js')
    - each s in scripts
      script(src='#{escapedDir}' + s)
  body

    include ./templates/modal/text-reply-modal.jade

    include ./templates/modal/general-modal.jade

    include ./templates/modal/group-modal.jade

    include ./templates/modal/create-group-modal.jade
    
    include ./templates/modal/text-details-modal.jade

    span(class='hgov-key' style='display: none;') #{userLevel}
    span(id='#{prefix}user-information') #{currentUser.username}

    include ./components/pageheader.jade

    div(class="#{prefix}container" style='min-height:800px;')

        block content
          
    include ./components/footer.jade

    