extend ./layout

block content
    include ./components/contextSwitcher.jade
    
    div(style='text-align:left;')
        h3 my account


    form(name='userSignup')

        div
            div(class='form-group') 
                div(class='input-group #{prefix}form-group')
                    div(class='input-group-addon #{prefix}form-label') username
                    input(type='text' name='username' class='form-control input-sm #{prefix}disabled' disabled='' value='#{userDetails.username}')

        div
            div(class='form-group') 
                div(class='input-group #{prefix}form-group')
                    div(class='input-group-addon #{prefix}form-label') account level
                    input(type='text' name='accountLevel' class='form-control input-sm #{prefix}disabled' disabled='' value=userDetails.superUser ? 'administrator' : 'user')

        div
            div(class='form-group') 
                div(class='input-group #{prefix}form-group')
                    div(class='input-group-addon #{prefix}form-label') password
                    input(type='password' name='password' class='form-control input-sm #{prefix}disabled' disabled='' value="#{userDetails.password}")
                span(class='help-block #{prefix}help-block') this field is required!
        div
            div(class='form-group') 
                div(class='input-group #{prefix}form-group')
                    div(class='input-group-addon #{prefix}form-label') first name
                    input(type='text' name='firstName' class='form-control input-sm #{prefix}disabled' disabled='' value='#{userDetails.name.first}')
                span(class='help-block #{prefix}help-block') this field is required!
        div
            div(class='form-group') 
                div(class='input-group #{prefix}form-group')
                    div(class='input-group-addon #{prefix}form-label') last name
                    input(type='text' name='lastName' class='form-control input-sm #{prefix}disabled' disabled='' value='#{userDetails.name.last}')
                span(class='help-block #{prefix}help-block') this field is required!

        div
            div(class='form-group') 
                div(class='input-group #{prefix}form-group')
                    div(class='input-group-addon #{prefix}form-label') email address
                    input(type='text' name='emailAddress' class='form-control input-sm #{prefix}disabled' disabled='' value='#{userDetails.emailAddress}')
                span(class='help-block #{prefix}help-block') please provide a valid email address!
        div
            div(class='form-group') 
                div(class='input-group #{prefix}form-group')
                    div(class='input-group-addon #{prefix}form-label') phone number
                    input(type='text' name='phoneNumber' class='form-control input-sm #{prefix}disabled' disabled='' value='#{userDetails.phoneNumber.string}')
                span(class='help-block #{prefix}help-block') please provide a valid phonenumber (ex. 5551235678)!

        div(style='text-align:left;')
            div(class='input-group #{prefix}form-group')
                div(class='form-group')
                    button(class='btn btn-md btn-info' id='editbutton') edit
                    button(class='btn btn-md btn-success' id='savebutton' style="display:none;") save

