extend ./layout

block content

    div(id='press-background-cover' class='#{prefix}hero-image')
        table
                tr
                    td
                        img(src='min/images/news-logo.png')
                        
                tr 
                    td
                        h2 Heartgov in the news!

    div(class='press' style='margin-top: 210px')
        div(class='row' style='margin-top:-200px;')
            - each obj in stories
                div(class='col-md-6' style='margin-bottom:15%;')
                    div(class='#{prefix}story' style="background-image:url(#{obj.img});")
                        img(src='#{obj.img}' style='visibility:hidden; width:100%;')
                        div(class='story-overlay')
                            div(class='story-cover')
                                div
                                    h4 #{obj.title}

                                    p #{obj.content}

                                    h5
                                        a(href="#{obj.link}") Open Story &gt;
