div
    -var isLoggedIn = currentUser != false
    nav(class='navbar navbar-default' style='margin-top:1%;')
        div(class='container-fluid')
            div(class='navbar-header')
                button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='##{prefix}header')
                    span(class='sr-only') Toggle Navigation
                    span(class='icon-bar')
                    span(class='icon-bar')
                    span(class='icon-bar')


        div(class='collapse navbar-collapse' id='#{prefix}header')
            ul(class='nav navbar-nav pull-left')
                li  
                    a(href='/')
                        img(src='min/images/smalllogo.png' style='height:45px; margin-left:10px;')
                    

                li
                    div(style='padding-top:8px' id='#{prefix}font-logo')
                        span(style='font-size:29px; margin-left:40px;') HeartGov

            ul(class='nav navbar-nav pull-right')

                li(class=activeMarker === '/about' ? 'active' : '')
                    a(href='/about') About

                li(class=activeMarker === '/faq' ? 'active' : '')
                    a(href='/faq') How It Works

                li(class=activeMarker === '/press' ? 'active' : '')
                    a(href='/press') Press

                if !isLoggedIn

                    li(class=activeMarker === '/signin' ? 'active' : '')
                        a(href='/signin') Sign In

                else 
                    li(class=activeMarker === '/database' ? 'active' : '')
                        a(href='/database') Database

                    li(class=activeMarker === '/myaccount' ? 'active' : '')
                        a(href='/myaccount') My Account

                     li(class=activeMarker === '/groups' ? 'active' : '')
                        a(href='/groups') Groups


                    li
                        a(href='/myaccount' id='main-logout') Sign Out 

    