div(class='modal fade #{prefix}create-group-modal')
    div(class='modal-dialog')
        div(class='modal-content')
            div(class='modal-header')
                button(type='button' class='close' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true')
                h4(class='modal-title #{prefix}modal-title') Create Group
            div(class='modal-body #{prefix}modal-body' style='text-align:center;')

                form(name='add-group-form')

                    div(class='form-group') 
                        div(class='input-group #{prefix}form-group')
                            div(class='input-group-addon #{prefix}form-label') creator
                            input(type='text' name='creator' class='form-control input-sm #{prefix}disabled' disabled='')
               
                    div(class='form-group') 
                        div(class='input-group #{prefix}form-group')
                            div(class='input-group-addon #{prefix}form-label') group name
                            input(type='text' name='groupName' class='form-control input-sm')
                        span(class='hgov-help-block #{prefix}help-block-create-group-form' id='groupName-help-block') this field must be longer than 5 characters!
                    
                    div(class='form-group') 
                        div(class='input-group #{prefix}form-group')
                            div(class='input-group-addon #{prefix}form-label') organization
                            input(type='text' name='organization' class='form-control input-sm' placeholder='optional')
                            
                    
            div(class='modal-footer')
                button(class='btn btn-success #{prefix}modal-create-group' id='submit-create-group') add
                button(class='btn btn-default #{prefix}modal-close' data-dismiss='modal') close
