extend ./base-modal
block vars
    - var id = 'import-group-modal'
    - var modalTitle = 'Import Numbers'
block modal
    div(class='modal-body #{prefix}modal-body' style='text-align:center;')

        form(name='import-num-form')

            div(class='form-group') 
                div(class='input-group #{prefix}form-group')
                    div(class='input-group-addon #{prefix}form-label') choose group for import
                    select(name='importGroups' class='form-control input-sm' id='importGroups')

            div(class='form-group') 
                div(class='input-group #{prefix}form-group')
                    div(class='input-group-addon #{prefix}form-label' style='width:178px !important;')
                        span(class='glyphicon glyphicon-folder-open')
                    input(type='file' id='fileUpload' name='fileUpload' class='form-control input-sm #{prefix}disabled')

        
            
    div(class='modal-footer')
        div(class='pull-left')
            a(href="files/ExampleFile.csv" download style='font-size:14px;') Download Example File
        button(class='btn btn-success' id='submit-import') add
        button(class='btn btn-default #{prefix}modal-close' data-dismiss='modal') close
