extend ./base-modal
block vars
    - var id = 'reply-modal'
    - var modalTitle = '<3 Gov Messenger'
block modal
    div(class='modal-body #{prefix}modal-body' style='text-align:center;')
        
        form(name='out-going-text-form')
            div
                div(class='form-group') 
                    div(class='input-group #{prefix}form-group')
                        div(class='input-group-addon #{prefix}form-label') from
                        input(type='text' name='from' class='form-control input-sm #{prefix}disabled' disabled='')
                    

            div
                div(class='form-group') 
                    div(class='input-group #{prefix}form-group')
                        div(class='input-group-addon #{prefix}form-label') to
                        input(type='text' name='to' class='form-control input-sm #{prefix}disabled' disabled='')
                    

            div
                div(class='form-group') 
                    div(class='input-group #{prefix}form-group')
                        div(class='input-group-addon #{prefix}form-label') content
                        textarea(name='content' class='form-control input-sm')
                    span(class='help-block #{prefix}help-block-reply-form') this field is required!

    div(class='modal-footer')
        button(class='btn btn-success' id='send-out-going-text') send
        button(class='btn btn-danger #{prefix}modal-close' data-dismiss='modal') cancel